{% extends 'layout/base.html' %}
{% load static %}


{% block css %}
<style>
    body{
        height: 100vh;
        background-image: url('http://satyr.io/1000x600/32?text=template');
        background-size: cover;
        background-repeat: no-repeat;
    }
    .wrapper{
        background-color: rgb(216, 222, 228); 
    }
    .sideimg{
        background-image: url("{% static 'img/bg.jpg' %} ");
        background-position: right;
        height: 100vh;
    }
    
</style>
{% endblock css %}

{% block content %}
<div class="container-fluid  wrapper">
    <div class="row">
        <div class="col-8">
            <div class="container">
                <div class="row my-5">
                    <div class="col">
                        Hello, <b>{{ user.username}} </b>
                        
                        
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-3 sideimg">
            <div class="container">
                <div class="row">
                    <div class="col my-5">
                        <div class="card mx-auto ">
                            <div class="card-body">
                                <h4 class="card-title">Add Your Books</h4>
                                <p class="card-text">Share your books to world  </p>
                                <a href="{% url 'contact' %}" class="card-link">Click here</a>
                            </div>
                        </div>
                        <div class="card mx-auto mt-1">
                            <div class="card-body">
                                <h4 class="card-title">View Your Books</h4>
                                <p class="card-text">Check out your content</p>
                                <a href="{% url 'contact' %}" class="card-link">Click here</a>
                            </div>
                        </div>
                        
                        <ol class="list-group list-group-numbered mt-1">
                            <li class="list-group-item d-flex justify-content-between align-items-start">
                                <div class="ms-2 me-auto">
                                    <div class="fw-bold">View Profile</div>
                                </div>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-start">
                                <div class="ms-2 me-auto">
                                    <div class="fw-bold">Edit Profile</div>
                                </div>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-start">
                                <div class="ms-2 me-auto">
                                    <div class="fw-bold"><a href="{% url 'password_change' %}">Change Passowrd</a></div>
                                </div>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-start">
                                <div class="ms-2 me-auto">
                                    <div class="fw-bold"><a href="{% url 'logout' %}">Logout</a></div>
                                </div>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-start">
                                <div class="ms-2 me-auto">
                                    <div class="fw-bold"><a href="{% url 'contact' %}">Contact us</a></div>
                                </div>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-start">
                                <div class="ms-2 me-auto">
                                    <div class="fw-bold"><a href="{% url 'report' %}">Report</a></div>
                                </div>
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
